<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS json load</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	
	<!-- angular 1.5 -->
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
	
  </head>

  <body>
    <div ng-controller="MainCtrl">Hello {{name}}! 
		<a href="#" ng-click="met()">aaa</a>
	
	<table>
		<thead>
			<tr>
				<td>ID</td>
				<td>NAME</td>
				<td>AGE</td>
				<td>QUANTITY</td>
				<td>PRICE</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items">
				<td>{{ item.id }}</td>
				<td>{{ item.name }}</td>
				<td>{{ item.age }}</td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.price }}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">1 - 5 of 11</td>
				<td></td>
				
				<td colspan="2"></td>
				
				
			</tr>
		</tfoot>
	</table>
	
	</div>
  </body>

</html>
