<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>Angular-nvD3 Line Chart</title>

    <script>document.write('<base href="' + document.location + '" />');</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.8/roundProgress.min.js"></script> 
    
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    
    <round-progress
    max=maxValue
    current=currentValue
    color="url(#yourGradientIdHere)"
    bgcolor="#eaeaea"
    radius="100"
    stroke="10"
    semi="false"
    rounded="true"
    clockwise="true"
    responsive="false"
    duration="800"
    animation="easeInOutQuart"
    animation-delay="0"></round-progress>
    
    <svg>
        <linearGradient id="yourGradientIdHere" x1="0" x2="0" y1="0" y2="1">
            <stop offset="5%"  stop-color="green"/>
            <stop offset="95%" stop-color="gold"/>
        </linearGradient>
    </svg>
    

  <a href="" ng-click="progressClickInc()">progressClickInc</a>

  <a href="" ng-click="progressClickDec()">progressClickDec</a>

  </body>

</html>
